<ol>
  <li *ngFor="let struct of linearStructs"
    class="linear-structs"
    [class.selected]="struct === selectedStruct"
    (click)="onSelect(struct)">
    {{ struct }}
  </li>
  <li *ngFor="let struct of trees"
    class="tree-structs"
    [class.selected]="struct === selectedStruct"
    (click)="onSelect(struct)">
    {{ struct }}
  </li>
  <li *ngFor="let struct of hashes"
    class="hash-structs"
    [class.selected]="struct === selectedStruct"
    (click)="onSelect(struct)">
    {{ struct }}
  </li>
  <li *ngFor="let struct of graphs"
    class="graph-structs"
    [class.selected]="struct === selectedStruct"
    (click)="onSelect(struct)">
    {{ struct }}
  </li>
</ol>
<div *ngIf="selectedStruct">
  <h2>{{ selectedStruct }}</h2>
</div>

